# Python
__pycache__/
*.py[cod]
*.egg-info/
.venv/
venv/

# PyInstaller
build/
dist/
*.spec

# Local / runtime
config.json
*.log
*.lock
zapret_manager.lock
zapret_manager.log

# OS / IDE
Thumbs.db
Desktop.ini
.vscode/
.idea/
